@import "tailwindcss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: sans-serif;
  background-color: #f5f5f7;
}
.mag {
  background: linear-gradient(
    90deg,
    rgb(169, 119, 200) 0%,
    rgb(111, 140, 199) 8.5%,
    rgb(99, 154, 71) 16.5%,
    #718cc7 33%,
    #718cc7 66%,
    rgb(169, 119, 200) 83.5%,
    rgb(111, 140, 199) 91.5%,
    rgb(99, 154, 71) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.gradient-text {
  background: linear-gradient(
    to right,
    #0a84ff,
    #5e5ce6,
    #af52de,
    #ff375f,
    #ff453a,
    #ff9f0a
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.showcaseText {
  background: linear-gradient(
    90deg,
    #b47cde 0%,
    #8ba5e0 25%,
    #6795d0 45%,
    #5fa88c 60%,
    #6baf5e 80%,
    #6baf5e 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%; /* GSAP animates this */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.camera-text {
  background: linear-gradient(
    90deg,
    #b47cde 0%,
    #8ba5e0 25%,
    #6795d0 45%,
    #5fa88c 60%,
    #6baf5e 80%,
    #6baf5e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.energy{
  background: linear-gradient(
  90deg,
  #9E7BC8 35%,
  #7E87C8 52%,
  #6fa35c 65%
);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}
.access{
  background: linear-gradient(
  90deg,
  #ae89dc 10%,
  #698ed7 35%,
  #6fa35c 40%
);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.02);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

.radius {
  border-radius: 34px;
}

.height {
  max-height: 530px;
}
.video-h {
  max-height: 515px;
  margin-top: 5px;
}
