@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #f5f5f7;
}
.mag {
  background: linear-gradient(
  90deg,
  rgb(169, 119, 200) 0%,
  rgb(111, 140, 199) 8.5%,
  rgb(99, 154, 71) 16.5%,
  #718CC7 33%,
  #718CC7 66%,
  rgb(169, 119, 200) 83.5%,
  rgb(111, 140, 199) 91.5%,
  rgb(99, 154, 71) 100%
);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

